__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*/*.py[cod]
*/*/*.py[cod]
*/*/*/*.py[cod]

docker-compose.yml
.docker

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml


.env/
.venv/
venv/

app/src/bert_model/
app/src/service-acc/
app/src/testcloudstorage.py
app/src/json.txt
app/src/flask_sql.py
app/src/cache
app/locust/
